body {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body>header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #eee;
}

.brand{
    display:flex;
    align-items:center;
    padding:16px;
}

.brand .logo{
    height:100%;
}

.brand .logo img{
    height:100%;
    width:auto;
}

.brand h1{ 
    font-size:24px;
}

.levels{
    display:flex;
    align-items:center;
    padding:16px;
}

.levels .slots{
    padding-left:16px;
}

body>.contours {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
}

.contours > aside{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:240px;
    height:100%;    
}

.contours > aside img{
    width:100%;
    height:auto;
}
.contours > aside:first-child{
    border-right:solid 1px #eee;
}

.contours > aside:last-child{  
    border-left:solid 1px #eee;
}

aside > section {
    padding: 0 16px;
}


.contours > main{
    position: relative;
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;    
    flex:1;
    overflow:hidden;
}

.contours > main img{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    align-items: center;
    border-color:rgba(14, 92, 165, 0.651);
    border-style: solid;
    border-radius: 5px;
}

.container > button {
    border: none;
    background: none;
    cursor: pointer;
}

.container > select {
    border: none;
    background: none;
    cursor: pointer;
}

.start {
    display: flex;

}

.start > button {
    width: 100%;
    height : 100%;

}

.start > img {
    width: 100%;
    height: 100%;

}

.Instruction {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: inherit;
    border-color:rgba(192, 190, 190, 0.3);
    border-style: solid;
    border-radius: 5px;
}

.Instruction > button {
    width: 100%;
    height: 100%;
    padding-right: 45%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    cursor: pointer;

}

aside .Instruction img {
    height: 24px;
    width: auto;

}
